a.blog-title-a
{
    color: black;
    text-decoration: none;
}

a.blog-title-a:hover
{
    color: #337ab7;
    text-decoration: none;
}

a.blog-title-a:active
{
    color: #333377;
    text-decoration: none;
}

.blog-post-meta-bottom
{
    margin-top: 25px;
    margin-bottom: -20px;
    color: #999;
}

img.header-slogan
{
    width: 65%;
    height: auto;
    display: block;
}

p.header-slogan
{
    margin-left: 7%;
}
